<div class="row">
  <div class="twelve columns">
    <div class="eight columns centered">
      <h1 class="text-center">Thank You for Applying!</h1>
      <p>Your application has been submitted to NSS for review. We thank your for you interest.</p>
      <%= link_to "Sign Out", destroy_student_session_path, method: :delete, class: "radius button twelve columns centered" %>
    </div>
  </div>
</div>
