<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank You for Completing the Application, <%= @student.name %></h1>
    <p>
      Your application is under review by the Nashville Software School.
    </p>
    <p>Thanks for your interest and have a great day!</p>
  </body>
</html>
