<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @student.first_name %> wants to be considered for NSS</h1>
    <p>please review his/her application: <%= @url %></p>
    <p>brought to you by Applicable</p>
  </body>
</html>
