/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {
  overflow:auto;
  padding-bottom: 50px;
}

.signed-in-as {
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
}

.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active {background:none;}

label {font-weight:bold;}

.radio {font-weight:normal;}

.input {padding: 20px 0;}

.six select {
  width:32%;
  margin-top: 5px;
}

footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear:both;
  background: #222;
  color: #fff;
}

footer a {color: #fff; }

#copyright {padding: 20px 0;}

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


