/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
html, body {height: 100%;}

header, nav.top-bar {background: #000;}

#wrap {min-height: 100%;}

#main {
  overflow:auto;
  padding-bottom: 50px;
}

li.name h1 a:hover {color: #2795b6;}

.signed-in-as {
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
}

.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active {background:none;}

label {font-weight:bold;}

.radio {font-weight:normal;}

.input {padding: 20px 0;}

form#new_student div.input {padding: 0;}

.six select {
  width:32%;
  margin-top: 5px;
}

.push {
  height: 100px;
  visibility: hidden;
}

footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear:both;
  background: #000;
  color: #fff;
}

footer a {color: #fff; }

div.admin-link {padding: 17px;}

div.footer-info {padding: 17px;}

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */

@media only screen and (max-width: 767px) {
  footer div.twelve.columns, footer div.container.row {height: 50px;}

  div.admin-link {
    float: right;
    position: relative;
    bottom: 46px;
  }

  div.footer-info {
    float: right;
    position: relative;
    bottom: 46px;
  }
}
