<div class="row">
  <div class="twelve columns">
    <div class="six columns centered">
      <h1 class="text-center"><%= link_to 'Apply for NSS!', new_student_registration_path %></h1>
      <h3 class="text-center">Do You Have...?</h3>
      <div id="featured-content">
        <div class="slide">
          <p>no prior technical training or web development experience is required?</p>

          <p>an aptitude for technical work in general and programming specifically?</p>
        </div>

        <div class="slide">
          <p>a logical mind and enjoy solving complex problems? Good math skills may be an indicator of aptitude but so could mastery of a musical instrument and knowledge of music theory and experience playing in a band.</p>

          <p>solid written and verbal communication skills?</p>
        </div>

        <div class="slide">
          <p>persistence and tenacity-- can you concentrate relentlessly on hard problems for extended periods of time?</p>

          <p>the ability to work well with others? Real software development is a team sport and there are lots of pair programming and team projects at NSS?</p>
        </div>

        <div class="slide">
          <p>basic computer skills and proficiency and know how to use common applications such as word processing, spreadsheets, etc. and familiarity with using the internet?</p>

          <p>the motivation to learn a new craft and to immerse yourself in a full-time, intensive training program?</p>
        </div>

        <div class="slide">
          <p>the eagerness to get hands-on and build things? We start building things like websites out of software the first week of the program. This isn't an intellectual or textbook exercise-- we are all about learning our craft by practicing our craft.</p>

          <p>a high school diploma or the equivalent?</p>

          <p>what it takes to know how and when to ask for help? Do you also like to help others?</p>
        </div>

        <div class="slide">
          <h5 class="text-center">please visit our <a href="http://www.nashvillesoftwareschool.com" alt="NSS home">home site</a> for more details</h5>
        </div>
      </div>

      <div id="index-call-to-action">
        <%- if student_signed_in? %>
          <%= link_to "Begin", edit_student_path(current_student), class: "large radius button twelve columns centered" %>
        <%- else  %>
          <%= link_to "Sign Up", new_student_registration_path, class: "large radius button twelve columns centered" %>
        <%- end  %>
      </div>

    </div>
  </div>
</div>
