<div class="row">
  <div class="twelve columns">
    <div class="six columns centered">
      <h1 class="text-center">Apply for NSS!</h1>
      <h3 class="text-center">QUALIFICATIONS</h3>
      <h5 class="text-center">please visit our <a href="http://www.nashvillesoftwareschool.com" alt="NSS home">home site</a> for more details</h5>
      <ul>
        <li>No prior technical training or web development experience is required.</li>

        <li>You have an aptitude for technical work in general and programming specifically.</li>

        <li>You have a logical mind and enjoy solving complex problems: Good math skills may be an indicator of aptitude but so could mastery of a musical instrument and knowledge of music theory and experience playing in a band.</li>

        <li>You have solid written and verbal communication skills.</li>

        <li>You are persistent and tenacious: You can concentrate relentlessly on hard problems for extended periods of time.</li>

        <li>You are able to work well with others: Real software development is a team sport and there are lots of pair programming and team projects at NSS. You know how and when to ask for help. You also like to help others.</li>

        <li>You have basic computer skills and proficiency and know how to use common applications such as word processing, spreadsheets, etc. and you have familiarity with using the internet.</li>

        <li>You are motivated to learn a new craft and to immerse yourself in full-time, intensive training program.</li>

        <li>You are eager to get hands-on and build things: We start building things like websites out of software the first week of the program. This isn't an intellectual or textbook exercise. We are all about learning our craft by practicing our craft.</li>

        <li>You have a high school diploma or the equivalent.</li>
      </ul>
      <%- if student_signed_in? %>
        <%= link_to "Begin", edit_student_path(current_student), class: "radius button twelve columns centered" %>
      <%- else  %>
        <%= link_to "Sign Up", new_student_registration_path, class: "radius button twelve columns centered" %>
      <%- end  %>
    </div>
  </div>
</div>
