<!DOCTYPE html>
<html>
<head>
  <title>Applicable</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

>>>>>>> parent of 5216a22... Add Foundation-Rails gem with Compass
</body>
</html>
